@model List<supplier>

<div class="modal-dialog" style="width:80%">
    <div class="modal-content">
        <div class="modal-header bg-gray">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-title">Danh mục khách hàng</div>
        </div>
        <div class="modal-body">
            <div class="row form-group">
                <div class="col-xs-12 col-md-6">
                    <div class="input-group">
                        <input type="text" value="@ViewBag.search" class="form-control" id="txtTimkh_t" placeholder="Tìm thông tin code, tên khách hàng" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" id="btSearh_t"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div style="height:200px; overflow-x:auto;">
                <table class="table mytable" style="overflow:auto;" id="tbkhachhang_t">
                    <thead>
                        <tr>
                            <th>
                                Code
                            </th>
                            <th>
                                Tên khách hàng
                            </th>
                            <th>
                                Thành phố/ Tỉnh
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                Mã số thuế
                            </th>
                            <th>
                                Điện thoại
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.code
                                </td>
                                <td style="width:300px;">
                                    @item.realname
                                </td>
                                <td>
                                    @item.city
                                </td>
                                <td>
                                    @item.address
                                </td>
                                <td>
                                    @item.taxcode
                                </td>
                                <td>
                                    @item.telephone
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gray" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#btSearh_t').on('click', function () {
        var search = $('#txtTimkh_t').val();
        var url = "/Supplier/listSearchkhach_t";
        $.get(url, { search: search }, function (data) {
            $("#tModalTimkh").modal('show')
            $('.listtimkh_t').html(data);
        });
    });
    //$('#tbkhachhang_t').on('click', 'tbody tr', function (event) {

    //    $('#ttxtmakh').val($(this).find("td").eq(0).html().trim());
    //    var tencty = $(this).find("td").eq(1).html();
    //    $('#ttxttenkhach').val(tencty.trim());
    //    //$('#itxtdiachi').val($(this).find("td").eq(3).html().trim());
    //    //$('#itxtmst').val($(this).find("td").eq(4).html().trim());
    //    //$('#itxtdienthoai').val($(this).find("td").eq(5).html().trim());
    //    $("#tModalTimkh").modal('hide');
    //    //$('#itxttencty').focus();
    //})

    $(function () {
        $('#tbkhachhang_t').on('click', 'tbody tr', function (event) {
            $('#ttxtmakh').val($(this).find("td").eq(0).html().trim());
            var tencty = $(this).find("td").eq(1).html();
            $('#ttxttenkhach').val(tencty.trim());           
            $("#tModalTimkh").modal('hide');
            //$('#itxttencty').focus();
        })
    });

</script>