@model List<DataTuVetour>
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Datatuhuytour";
    var a = JsonConvert.SerializeObject(Model);
}

@section Scripts {

    <script src="~/Asset/Huyhoadon/DatatuhuytourControl.js"></script>
}

<section class="content-header">
    <h1>
        Lấy data huỷ tour từ  tour lẽ
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"><a href="@Context.Session.GetString("urlHuyHoadon")">Danh sách huỷ hoá đơn </a></li>
        <li class="active"><a href="@Url.Action("Edit","Huyhoadon",new {id=ViewBag.idhoadon })">Điều chỉnh hoá đơn</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box ">
            <div class="box-header">
                <div class="col-md-12">
                    <form asp-action="Datatuvetour" id="frmDatatuvetour">
                        <input type="hidden" name="idhoadon" id="txtIdhoadon" value="@ViewBag.idhoadon" />
                        <div class="form-group col-md-2">
                            Tour
                            <select name="tour" asp-items="@ViewBag.tour" id="cboTour" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="form-group col-md-3">
                            Huỷ vé tour từ ngày
                            <input name="tungay" value="@ViewBag.tungay" class="form-control datepicker" type="text" asp-format="{0:dd/MM/yyyy}" />
                        </div>
                        <div class="form-group col-md-3">
                            Đến ngày
                            <input name="denngay" value="=@ViewBag.denngay" class="form-control datepicker" type="text" asp-format="{0:dd/MM/yyyy}" />
                        </div>
                        <div class="form-group col-md-2">
                            %PPV
                            <input name="ppv" value="@ViewBag.ppv" id="txtPpv" class="form-control text-center numbers" />
                        </div>
                        <div class="form-group col-md-2">
                            Tỷ giá
                            <input name="tygia" value="@ViewBag.tygia" id="txtTygia" class="form-control text-right numbers" asp-format="{0:#,##0.0}" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-md-5">
                            Tài khoản nợ
                            <select name="tkno" asp-items="@ViewBag.tkno" id="cboTkno" class="form-control select2" style="width:100%"></select>
                        </div>
                        <div class="form-group col-md-5">
                            Tài khoản có
                            <select name="tkco" asp-items="@ViewBag.tkco" id="cboTkco" class="form-control select2" style="width:100%"></select>
                        </div>
                        <div class="form-group col-md-2">
                            Chi nhánh
                            <input name="chinhanh" value="@ViewBag.chinhanh" class="form-control text-center" disabled />
                        </div>
                        <div class="form-group col-md-8">
                            Tuyến tham quan
                            <input name="tuyentq" class="form-control" value="@ViewBag.tuyentq" />
                        </div>
                        <div class="form-group col-md-4">
                            <br />
                            <button type="submit" class="btn btn-primary" formaction="/Huyhoadon/Datatuhuytour" formmethod="get" title="Load"><i class="fa fa-search"></i></button>
                            <a href="@Context.Session.GetString("urlEditHoadonhuy")" class="btn btn-default" title="huỷ"><i class="fa fa-undo"></i></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-body">
                @*@using (Html.BeginForm("Datatuvetour", "Hoadon", FormMethod.Post))
            {*@
                <div class="col-md-12" style="max-height:300px; overflow:auto">
                    <table class="table mytable text-nowrap" id="tbDatahuytour">
                        <thead>
                            <tr>
                                <th>Chọn</th>
                                <th>Số vé tour</th>
                                <th>Tuyến tham quan</th>
                                <th>Code đoàn</th>
                                <th>Tên khách</th>
                                <th>Số tiền NT</th>
                                <th>Doanh thu NN</th>
                                <th>Ngày huỷ vé</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.count > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr data-serial="@item.serial">
                                        <td class="text-center">
                                            @if (item.chon == 1)
                                            {
                                                <input type="checkbox" class="minimal ckId" checked="checked" data-serial="@item.serial" data-sgtcode="@item.sgtcode" data-tuyentq="@item.tuyentq" data-tenkhach="@item.tenkhach" data-sotiennt="@item.sotiennt" data-doanhthunn="@item.doanhthunn" data-loaitien="@item.loaitien" data-tygia="@item.tygia" data-diengiai="@item.diengiai" data-ghichu="@item.ghichu" data-xuatve="@item.xuatve" data-vat="@item.vat" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="minimal" disabled />
                                            }
                                        </td>
                                        <td class="text-center">
                                            @item.serial
                                        </td>
                                        <td>
                                            @item.tuyentq
                                        </td>
                                        <td class="text-center">
                                            @item.sgtcode
                                        </td>
                                        <td>
                                            @item.tenkhach
                                        </td>
                                        <td class="text-right">
                                            @Html.Raw(String.Format("{0:#,##0.0}", item.sotiennt))
                                        </td>
                                        <td class="text-right">
                                            @Html.Raw(String.Format("{0:#,##0.0}", item.doanhthunn))
                                        </td>
                                        <td>
                                            @item.xuatve
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="col-md-12">
                    <form asp-action="Datatuhuytour" method="post" id="formDataVetour">
                        <input type="hidden" name="idhoadon" value="@ViewBag.idhoadon" />
                        <input type="hidden" name="ppv" value="@ViewBag.ppv" />
                        <select name="tour" asp-items="@ViewBag.tour" style="display:none;"></select>
                        <select name="tkno" asp-items="@ViewBag.tkno" style="display:none;"></select>
                        <select name="tkco" asp-items="@ViewBag.tkco" style="display:none;"></select>
                        <input type="hidden" name="tygia" value="@ViewBag.tygia" />
                        <input type="hidden" name="list" id="stringId" />
                        <button type="button" id="btSavedata" class="btn btn-primary" title="Save"><i class="fa fa-save"></i></button>
                    </form>
                </div>
                @*}*@
            </div>

            <div class="box-body">
                <div class="col-md-12">
                    <div class="ctDatahuytour" style="overflow-x:auto"></div>
                </div>
            </div>
        </div>
    </div>
</section>
